{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="text-success">Projetos</h2>
    <a class="btn btn-success" href="{% url 'projetos:criar' %}">Novo Projeto</a>
  </div>
  <hr>

  <div class="d-flex flex-wrap gap-3">
    {% for projeto in projetos %}
      <div class="card mb-3" style="width:23%;">
        <div class="card-body">
          <h5>
            <a class="text-success" href="{% url 'projetos:detalhe' projeto.pk %}">
              {{ projeto.titulo }}
            </a>
          </h5>
          <p>{{ projeto.descricao|truncatewords:20 }}</p>
          
          <small class="text-muted d-block mt-2">
            <strong>Criado por:</strong> 
            {{ projeto.criador.get_full_name|default:projeto.criador.username }}
            <br>
            <strong>Em:</strong> {{ projeto.criado_em|date:"d/m/Y H:i" }}
          </small>
        </div>
      </div>
    {% empty %}
      <p>Nenhum projeto encontrado.</p>
    {% endfor %}
  </div> 
</div>
{% endblock %}
